<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMarketPlaceService" />
        <binding name="BasicHttpBinding_IMarketPlaceService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMarketPlaceService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:32173/MarketPlaceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketPlaceService"
        contract="MarketPlaceService.IMarketPlaceService" name="BasicHttpBinding_IMarketPlaceService" />
      <endpoint address="http://localhost:8080/MarketPlaceService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketPlaceService1"
        contract="MarketPlaceSelfHostService.IMarketPlaceService" name="BasicHttpBinding_IMarketPlaceService1" />
      <endpoint address="net.tcp://localhost:45000/MarketPlaceService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMarketPlaceService"
        contract="MarketPlaceSelfHostService.IMarketPlaceService" name="NetTcpBinding_IMarketPlaceService">
        <identity>
          <userPrincipalName value="LAPTOP-TO31IR5G\ramil" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>